@media screen and (min-width: 480px) and (orientation: portrait) {
  .container-moves{
    justify-content: center;
  }

  .move{
    width: 80%;
  }
}

@media screen and (min-width: 768px) and (orientation: portrait) {
  .move{
    width: 45%;
  }
}

@media (orientation: landscape){
  .container-movesDetails{
    height: 245px;
  }
}
