<section class="container-menu">
  <nav class="menu">
    <ul class="flex-row">
      <li class="flex-row" (click)="getGeneration('first')">1ª gen</li>
      <li class="flex-row" (click)="getGeneration('second')">2ª gen</li>
      <li class="flex-row" (click)="getGeneration('third')">3ª gen</li>
      <li class="flex-row" (click)="getGeneration('fourth')">4ª gen</li>
      <li class="flex-row" (click)="getGeneration('fifth')">5ª gen</li>
      <li class="flex-row" (click)="getGeneration('sixth')">6ª gen</li>
      <li class="flex-row" (click)="getGeneration('seventh')">7ª gen</li>
      <li class="flex-row" (click)="getGeneration('eighth')">8ª gen</li>
      <li class="flex-row" (click)="getGeneration('nineth')">9ª gen</li>
    </ul>
  </nav>
</section>
