.container-menu{
  display: flex;
  margin-left: 5px;
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: capitalize;
}

.first-menu{
  justify-content: flex-start;
  list-style: none;
  gap: 5px;
}

.first-menu > li {
  align-self: top;
  position: relative;
  width: 100%;
  padding: 10px;
  background-color: white;
  border-radius: 10px 0px 0px 10px;
  cursor: pointer;
}

.first-menu > li::after{
  content: '';
  display: block;
  border: 1px solid black;
  margin-top: 2px;
  transition: all 0.3s;
}

.first-menu > li:hover {
  background-color: black;
  color: white;
  transition: all 0.3s;
}

.first-menu > li:hover::after {
  content: '';
  display: block;
  border: 1px solid white;
  margin-top: 2px;
  transition: all 0.3s;

}

.first-menu > li:hover > .second-menu {
  display: block;
  visibility: visible;
  transition: all 0.3s;
}

.second-menu{
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 100%;
  list-style: none;
  background-color: black;
  border-radius: 0px 10px 10px 10px;
  z-index: 1;
}

.second-menu::child{
  margin-bottom: 5px;
}

.second-menu > li {
  display: block;
  text-align: center;
  width: 110px;
  padding: 10px;
}

.second-menu > li:active {
  position: relative;
  top: 1px;
}

.second-menu > li:hover{
  background-color: white;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.second-menu > li::after{
  content: '';
  display: block;
  border: 1px solid white;
  width: 50%;
  margin: 5px auto 0px;
}

.second-menu > li:hover::after{
  content: '';
  display: block;
  border: 1px solid black;
  margin-top: 2px;
}
