@media screen and (min-width: 480px) and (orientation: portrait){
  .container-baseStats{
    font-size: 1rem;
  }

  .title{
    padding-left: 40px;
  }
}

@media (orientation: landscape){
  .container-baseStats{
    font-size: 1rem;
  }

  .title{
    padding-top: 11px;
  }
}
