
@media screen and (min-width: 480px) and (orientation: portrait) {
  .container-details{
    width: 100%;
    max-width: 450px;
  }

  picture > img{
    max-width: 175px;
    transform: translateY(8%);
  }
}

@media screen and (min-width: 768px) and (orientation: portrait) {
  .container-details{
    max-width: 450px;
  }
}

