@font-face {
  font-family: 'roboto';
  src: url('../../../assets/fonts/Roboto-Black.ttf') format('truetype');
}

@media (orientation: portrait) {
  .align-itens{
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 1;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
  }

  .container-details{
    width: 100%;
    max-width: 320px;
    margin-top: 10px;
    position: fixed;
    z-index: 2;
    filter: brightness(1.2);
    border-radius: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
  }
  main{
    border-radius: 20px;
  }

  .shadow-details{
    margin: 0px auto 2px;
  }

}

@media (orientation: landscape){
  header{
    width: 100%;
  }

  .align-itens{
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 1;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
  }

  .container-details{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 300px;
    margin-top: 10px;
    position: fixed;
    z-index: 2;
    filter: brightness(1.2);
    border-radius: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
  }

  .landscape-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100%;
  }

  main{
    border-radius: 0px 20px 20px 0px;
    width: 60%;
    height: 100%;
  }

  .shadow-details{
    display: none;
  }

  picture{
    margin-top: 15px;
  }
}


/* Global CSS */
picture{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

picture > img{
  width: 100%;
  max-width: 150px;
  z-index: 3;
}

main{
  background-color: white;
  padding: 20px 0px;
}

.shadow-details{
  margin: 0px auto 2px;
  width: 50%;
  height: 5px;
  background-color: gray;
  color: gray;
  border-radius: 50%;
  filter: opacity(.5);
}
