@font-face {
  font-family: 'pokemonSolid';
  src: url('./../../../../../assets/fonts/PokemonSolid.ttf') format('truetype');
}


.container-title{
  width: 100%;
}

.bg-title{
  justify-content: center;
  background-color: white;
  width: 100%;
  font-family: 'pokemonSolid', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bg-title img{
  width: 100%;
  max-width: 60px;
  object-fit: cover;
}

.bg-title h1 {
  color: #F30703;
  font-size: 3rem;
}
