@font-face {
  font-family: 'pokemonSolid';
  src: url('./../../../../../assets/fonts/PokemonSolid.ttf') format('truetype');
}


.container-title{
  width: 100%;
  margin-bottom: 15px;
}

.bg-title{
  justify-content: center;
  background-color: white;
  width: 100%;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.8);
  font-family: 'pokemonSolid', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bg-title img{
  width: 100%;
  max-width: 60px;
  object-fit: cover;
}

.bg-title h1 {
  color: #F30703;
  font-size: 3rem;
}
