@media screen and (min-width: 480px) and (orientation: portrait) {
  .container-aboutDetails{
    font-size: 1rem;
  }

  ul > h1{
    font-size: 1.5rem;
  }

  .title{
    width: 30%;
    padding-left: 40px;
  }
}

@media (orientation: landscape){
  .container-aboutDetails{
    font-size: 1rem;
  }

  ul > h1{
    font-size: 1.5rem;
  }
}
