<header>
  <app-title></app-title>
  <section class="container-menus">
    <app-menu (click)="newPokemonList()" (isCardAlive)="setIsCardAlive($event)"></app-menu>
  </section>
  <app-search (isSearched)="setIsCardAlive($event)" (name)="setPokemonName($event)"></app-search>
</header>
<main>
  <div *ngIf="isCardAlive">
    <div *ngIf="!isTypeAlive">
      <section  class="container-pokemons">
        <div *ngFor="let n of value;let i = index" class="container-pokemon">
          <app-card-pokemon (click)="getId(i+offset+1)"
            id_name="{{(i+offset+1)}}"
          ></app-card-pokemon>
        </div>
      </section>
      <app-load-more-button
      firstPokemon="{{this.menuControl.getFirstPokemon()}}"
      lastPokemon="{{this.menuControl.getLastPokemon()}}"
      (sendLimit)="setLimit($event)"
      (sendOffset)="setOffset($event)"
      ></app-load-more-button>
    </div>

    <div *ngIf="isTypeAlive">
      <section  class="container-pokemons">
        <div *ngFor="let n of pokemonsName" class="container-pokemon">
          <app-card-pokemon (click)="getId(n)"
          id_name="{{n}}"
          ></app-card-pokemon>
        </div>
      </section>
      <!-- <app-button-back (isTypeAlive)="setIsTypeAlive($event)"></app-button-back> -->
    </div>
  </div>

  <ng-template [ngIf]="!isCardAlive">
    <section class="flex-row">
      <div class="container-pokemon">
        <app-card-pokemon
          (click)="getName(name)"
          id_name="{{name}}"
        ></app-card-pokemon>
      </div>
    </section>
    <app-button-back (isCardAlive)="setIsCardAlive($event)"></app-button-back>
  </ng-template>
</main>
<footer>
  <app-footer></app-footer>
</footer>

