<section class="container-footer flex-column">
  <nav>
    <ul class="links-footer flex-row">
      <li><a href="https://www.linkedin.com/in/igor-neuhauser/" target="_blank" rel="external">linkedin</a></li>
      <li>•</li>
      <li><a href="https://github.com/IPNeuhauser" target="_blank" rel="external">Github</a></li>
      <li>•</li>
      <li><a href="https://www.facebook.com/igor.neuhause/" target="_blank" rel="external">Facebook</a></li>
      <li>•</li>
      <li><a href="https://www.instagram.com/ipneuhauser/" target="_blank" rel="external">Instagram</a></li>
      <li>•</li>
      <li><a href="https://twitter.com/IP_Neuhauser" target="_blank" rel="external">Twitter</a></li>
    </ul>
  </nav>
  <section class="copyright-footer">
    <p>Site desenvolvido somente para fins educacionais</p>
    <p>&copy; Layout desensolvido por
      <a href="https://dribbble.com/saepulnahwan23" target="_blank" rel="external">
        Saepul Nahwan
      </a>
    </p>
  </section>
</section>
